# Database configuration
DATABASE_URL="ecto://postgres:postgres@localhost/elixir_url_shortener_dev"

# Phoenix configuration
PHOENIX_PORT=4000

# Signing salt for Phoenix
SIGNING_SALT="your_signing_salt"